* {
    margin: 0;
    padding: 0;
}

p {
    color: red;
    margin: 50px 0 0 50px;
}

#click {
    margin: 50px;
    padding: 8px;
    cursor: pointer;
}

#pay {
    text-align: center;
    width: 50px;
    height: 30px;
    padding: 8px;
    margin: 50px;
    cursor: pointer;
}